#### Imports

In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extract CSVs into DataFrames

In [2]:
population_file= "Resources/population_figures_by_country.csv"
population_df= pd.read_csv(population_file)
population_df.head()

       Country   Year_2015   Year_2016
0        Aruba    104341.0    104822.0
1  Afghanistan  33736494.0  34656032.0
2       Angola  27859305.0  28813463.0
3      Albania   2880703.0   2876101.0
4      Andorra     78014.0     77281.0

In [3]:
happy2015_file= "Resources/2015.csv"
happy2015_df= pd.read_csv(happy2015_file)
happy2015_df.head()

       Country  Happiness_Score  Economy   Family   Health  Freedom
0  Switzerland            7.587  1.39651  1.34951  0.94143  0.66557
1      Iceland            7.561  1.30232  1.40223  0.94784  0.62877
2      Denmark            7.527  1.32548  1.36058  0.87464  0.64938
3       Norway            7.522  1.45900  1.33095  0.88521  0.66973
4       Canada            7.427  1.32629  1.32261  0.90563  0.63297

In [4]:
happy2016_file= "Resources/2016.csv"
happy2016_df= pd.read_csv(happy2016_file)
happy2016_df.head()

       Country  Happiness Score  Economy    Family   Health  Freedom
0      Denmark            7.526   1.44178  1.16374  0.79504  0.57941
1  Switzerland            7.509   1.52733  1.14524  0.86303  0.58557
2      Iceland            7.501   1.42666  1.18326  0.86733  0.56624
3       Norway            7.498   1.57744  1.12690  0.79579  0.59609
4      Finland            7.413   1.40598  1.13464  0.81091  0.57104

## Transform Population DataFrame

In [5]:
# Create a filtered dataframe from specific columns
population_cols = ["Country", "Year_2015", "Year_2016"]
population_transformed= population_df[population_cols].copy()

# Rename the column headers
population_transformed = population_transformed.rename(columns={"Country": "Country",
                                                          "Year_2015": "2015_Population",
                                                          "Year_2016": "2016_Population"})

# Clean the data by dropping duplicates and setting the index
population_transformed.drop_duplicates
population_transformed.set_index("Country", inplace=True)

population_transformed.head()

             2015_Population  2016_Population
Country
Aruba               104341.0         104822.0
Afghanistan       33736494.0       34656032.0
Angola            27859305.0       28813463.0
Albania            2880703.0        2876101.0
Andorra              78014.0          77281.0

## Transform 2015 Happiness DataFrame

In [6]:
# Create a filtered dataframe from specific columns
happy2015_cols = ["Country", "Economy", "Family","Freedom","Happiness_Score", "Health"]
happy2015_transformed= happy2015_df[happy2015_cols].copy()

# Clean the data by dropping duplicates and setting the index
happy2015_transformed.drop_duplicates
happy2015_transformed.set_index("Country", inplace=True)

happy2015_transformed.head()

             Economy   Family  Freedom  Happiness_Score   Health
Country
Switzerland  1.39651  1.34951  0.66557            7.587  0.94143
Iceland      1.30232  1.40223  0.62877            7.561  0.94784
Denmark      1.32548  1.36058  0.64938            7.527  0.87464
Norway       1.45900  1.33095  0.66973            7.522  0.88521
Canada       1.32629  1.32261  0.63297            7.427  0.90563

## Transform 2016 Happiness DataFrame

In [7]:
# Create a filtered dataframe from specific columns
happy2016_cols = ["Country", "Economy", "Family","Freedom","Happiness Score", "Health"]
happy2016_transformed= happy2016_df[happy2016_cols].copy()

# Rename the column headers
happy2016_transformed = population_transformed.rename(columns={"Happiness Score": "Happiness_Score"})

# Clean the data by dropping duplicates and setting the index
happy2016_transformed.drop_duplicates
happy2016_transformed.set_index("Country", inplace=True)

happy2016_transformed.head()

KeyError: "['Economy'] not in index"

## Create database connection

In [40]:
#connection_string = "postgres:postgres@localhost:5432/population_happiness"
#engine = create_engine(f'postgresql://{connection_string}')

In [41]:
#engine.table_names()

## Load DataFrames into database

In [42]:
#population_transformed.to_sql(name='population', con=engine, if_exists='append', index=True)

NameError: name 'engine' is not defined

In [43]:
#happy2015_transformed.to_sql(name='happy_2015', con=engine, if_exists='append', index=True)

NameError: name 'engine' is not defined

In [ ]:
#happy2016_transformed.to_sql(name='happy_2016', con=engine, if_exists='append', index=True)