## Imports

In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extract CSVs into DataFrames

In [2]:
population_file= "Resources/population_figures_by_country.csv"
population_df= pd.read_csv(population_file)
population_df.head()

       Country  Year_2015  Year_2016
0        Aruba     104341     104822
1  Afghanistan   33736494   34656032
2       Angola   27859305   28813463
3      Albania    2880703    2876101
4      Andorra      78014      77281

In [3]:
happy2015_file= "Resources/2015.csv"
happy2015_df= pd.read_csv(happy2015_file)
happy2015_df.head()

       Country  Happiness_Score  Economy   Family   Health  Freedom
0  Switzerland            7.587  1.39651  1.34951  0.94143  0.66557
1      Iceland            7.561  1.30232  1.40223  0.94784  0.62877
2      Denmark            7.527  1.32548  1.36058  0.87464  0.64938
3       Norway            7.522  1.45900  1.33095  0.88521  0.66973
4       Canada            7.427  1.32629  1.32261  0.90563  0.63297

In [4]:
happy2016_file= "Resources/2016.csv"
happy2016_df= pd.read_csv(happy2016_file)
happy2016_df.head()

       Country  Happiness_Score  Economy   Family   Health  Freedom
0      Denmark            7.526  1.44178  1.16374  0.79504  0.57941
1  Switzerland            7.509  1.52733  1.14524  0.86303  0.58557
2      Iceland            7.501  1.42666  1.18326  0.86733  0.56624
3       Norway            7.498  1.57744  1.12690  0.79579  0.59609
4      Finland            7.413  1.40598  1.13464  0.81091  0.57104

## Transform Population DataFrame

In [5]:
# Create a filtered dataframe from specific columns
population_cols = ["Country", "Year_2015", "Year_2016"]
population_transformed= population_df[population_cols].copy()

# Rename the column headers
population_transformed = population_transformed.rename(columns={"Country": "Country",
                                                          "Year_2015": "2015_Population",
                                                          "Year_2016": "2016_Population"})



# Clean the data by dropping duplicates and setting the index
population_transformed.drop_duplicates
population_transformed.set_index("Country", inplace=True)

population_transformed.head()

             2015_Population  2016_Population
Country
Aruba                 104341           104822
Afghanistan         33736494         34656032
Angola              27859305         28813463
Albania              2880703          2876101
Andorra                78014            77281

## Transform 2015 Happiness DataFrame

In [6]:
# Create a filtered dataframe from specific columns
happy2015_cols = ["Country", "Economy", "Family","Freedom","Happiness_Score", "Health"]
happy2015_transformed= happy2015_df[happy2015_cols].copy()

# Clean the data by dropping duplicates and setting the index
happy2015_transformed.drop_duplicates
happy2015_transformed.set_index("Country", inplace=True)

happy2015_transformed.head()

             Economy   Family  Freedom  Happiness_Score   Health
Country
Switzerland  1.39651  1.34951  0.66557            7.587  0.94143
Iceland      1.30232  1.40223  0.62877            7.561  0.94784
Denmark      1.32548  1.36058  0.64938            7.527  0.87464
Norway       1.45900  1.33095  0.66973            7.522  0.88521
Canada       1.32629  1.32261  0.63297            7.427  0.90563

## Transform 2016 Happiness DataFrame

In [8]:
# Create a filtered dataframe from specific columns
happy2016_cols = ["Country", "Economy", "Family","Freedom","Happiness_Score", "Health"]
happy2016_transformed= happy2016_df[happy2016_cols].copy()

# Clean the data by dropping duplicates and setting the index
happy2016_transformed.drop_duplicates
happy2016_transformed.set_index("Country", inplace=True)
happy2016_transformed.head()

             Economy   Family  Freedom  Happiness_Score   Health
Country
Denmark      1.44178  1.16374  0.57941            7.526  0.79504
Switzerland  1.52733  1.14524  0.58557            7.509  0.86303
Iceland      1.42666  1.18326  0.56624            7.501  0.86733
Norway       1.57744  1.12690  0.59609            7.498  0.79579
Finland      1.40598  1.13464  0.57104            7.413  0.81091

## Create database connection

In [9]:
connection_string = "postgres:postgres@localhost:5432/population_happiness"
engine = create_engine(f'postgresql://{connection_string}')

In [10]:
#check for tables
engine.table_names()

/Users/michelleherman/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['happiness', 'population']

## Load DataFrames into database

In [11]:
#Use pandas to load csv converted DataFrames into database
happy2015_transformed.to_sql(name='happy_2015', con=engine, if_exists='append', index=True)

In [12]:
happy2016_transformed.to_sql(name='happy_2016', con=engine, if_exists='append', index=True)

In [ ]:
#Confirm data has been added by querying the table