In [9]:
import pandas as pd
from sqlalchemy import create_engine

## Extract CSVs into DataFrames

In [10]:
population_file= "Resources/population_figures_by_country.csv"
population_df= pd.read_csv(population_file)
population_df.head()

,Country,Country_Code,Year_1960,Year_1961,Year_1962,Year_1963,Year_1964,Year_1965,Year_1966,Year_1967,...,Year_2007,Year_2008,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016
0,Aruba,ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,AFG,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,10152331.0,10372630.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,AGO,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,6309770.0,6414995.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0

In [12]:
happiness2015_file= "Resources/2015.csv"
happiness2015_df= pd.read_csv(happiness2015_file)
happiness2015_df.head()

,Country,Region,Happiness Rank,Happiness_Score,Standard Error,Economy,Family,Health,Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [27]:
happiness2016_file= "Resources/2016.csv"
happiness2016_df= pd.read_csv(happiness2016_file)
happiness2016_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

## Transform Population DataFrame

In [20]:
# Create a filtered dataframe from specific columns
population_cols = ["Country", "Year_2015", "Year_2016"]
population_transformed= population_df[population_cols].copy()

# Rename the column headers
population_transformed = population_transformed.rename(columns={"Country": "Country",
                                                          "Year_2015": "2015_Population",
                                                          "Year_2016": "2016_Population"})

# Clean the data by dropping duplicates and setting the index
population_transformed.drop_duplicates
population_transformed.set_index("Country", inplace=True)

population_transformed.head()

             2015_Population  2016_Population
Country
Aruba               104341.0         104822.0
Afghanistan       33736494.0       34656032.0
Angola            27859305.0       28813463.0
Albania            2880703.0        2876101.0
Andorra              78014.0          77281.0

## Transform 2015 Happiness DataFrame

In [25]:
# Create a filtered dataframe from specific columns
happiness2015_cols = ["Country", "Economy", "Family", "Freedom","Happiness_Score"]
happiness2015_transformed= happiness2015_df[happiness2015_cols].copy()


# Clean the data by dropping duplicates and setting the index
population_transformed.drop_duplicates
happiness2015_transformed.set_index("Country", inplace=True)

happiness2015_transformed.head(10)

             Economy   Family  Freedom  Happiness_Score
Country
Switzerland  1.39651  1.34951  0.66557            7.587
Iceland      1.30232  1.40223  0.62877            7.561
Denmark      1.32548  1.36058  0.64938            7.527
Norway       1.45900  1.33095  0.66973            7.522
Canada       1.32629  1.32261  0.63297            7.427
Finland      1.29025  1.31826  0.64169            7.406
Netherlands  1.32944  1.28017  0.61576            7.378
Sweden       1.33171  1.28907  0.65980            7.364
New Zealand  1.25018  1.31967  0.63938            7.286
Australia    1.33358  1.30923  0.65124            7.284